body 
{
	margin: 0;
	margin-bottom: 40px;
    background: url("https://www.xtrafondos.com/wallpapers/fibra-de-carbon-2739.jpg") no-repeat center;
    background-size: cover;
    font-family: "Arial";
}

.logo{
    position: relative;
    width: 400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    font-size: 80px; 
    color: #FF4500;
}

.logoP1{
    margin: 0px;
    position: absolute;
    padding: 0px;
    letter-spacing: -10;
    left: 100px;
    top: 20px;
}

.logoP2{
    margin: 0px;
    position: absolute;
    padding: 0px;
    top: 50px;
    left: 70px;
    letter-spacing: 10;
}

.logoP3{
    height: 100%;
}

.logoP4{
    font-variant: small-caps;
    position: relative;
    top: 20px;
    color: #222222;
   
}

footer 
{
	width: 100%;
	height: 70px;
	background-color: black;
	color: white;
    text-align: center;
}

#links{
    background-color: #555555;
    font-size: 30;
    margin-left: auto;
    margin-right: auto;
}
#links ul{
    list-style: none;
    margin: auto;
}

#links li{
    transition: transform 1s ease-out;
    display: inline-block;
    border-color: black;
    padding: 10px;
    background-color: #bb2222;
    color: #cccccc;
}

header
{
  background: url("banner.jpg") no-repeat center;
  height: 190px;
  background-color: black;
}

#links li:hover{
    transform: scale(1.1);
    background-color: darkorange;
}

div h1
{
    text-align: center;
	
	height: 40px;
	text-transform: uppercase;
	font-size:1em;
    color: red;
}


#contenedor{
    width: 800px;
    height: 100%;
    margin-left:auto; /*Este margen hace que no se encime el contenido en tu menúlateral, es     importante que pongas un pocos pixeles más que el ancho  de tu columna lateral*/
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#principal{
    margin-left:auto; /*Este margen hace que no se encime el contenido en tu menúlateral, es     importante que pongas un pocos pixeles más que el ancho  de tu columna lateral*/
    margin-right: auto;
    background-color: #FFFFFF88;
    font-size: 20px;  
    border-radius: 15px;
    padding: 30px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#panelInicio{
    margin-left:auto;
    margin-right: auto;
    width: 400px;
    height: 33.33em;
    //background-color: aqua;
    text-align: center;
}

#panelInicio a{
    color: #FFFFFF;
    border: 1px solid;
    border-color: #FFFFFF;
    padding: 20px;
    font-size: 20px;
}

.height100{
    height: 33.33em;
}

.fecha
{
    font-size: 20px;
}
.descripcion{
    font-size: 18px;
}