
 

div#Columna1
{ 
	float: left;
	text-align:left;
	font-size: 15px;    
    padding: 20px;
	width: 30%;
	font-family: "Calibri" , Arial, Helvetica, sans-serif;
	display:block;
    
}
	
div#Columna2
{ 
	float: right;
	width: 45%;
	text-align:center;
	padding-right: 20px;
	font-size: 17px;    
    padding: 20px;
	font-family: "Calibri" , Arial, Helvetica, sans-serif;
	
}


body 
{
	margin: 0;
	margin-bottom: 40px;
	background-color: #666666;
	
}

section  p { 

	text-align: center;
	
	height: 40px;
	padding-left: 1.8em;
	text-transform: uppercase;
	font-size:1.5em;
  
}

footer 
{
	
	position: fixed;	
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: black;
	color: white;
    text-align: center;
	
	
}

header
{
  background: url("banner.jpg") no-repeat center;
  height: 190px;
  background-color: black;
  
}

header p
{
  text-align:center;
  font-size: 80px; 
  text-shadow: 0.3em 0.3em 0.3em black;
  font-family: "Times New Roman", Helvetica , sans-serif;
  color: #FF4500;
  width: 100%;
  padding: 20px;
  margin: 0;
  top: 2em;
  left: 1em;
 
}

div h1
{
		font-family: "Arial" , Calibri , Helvetica, sans-serif;
		color: blue;
}


div#Columna3
{ 
	float: right;
	text-align:center;
	font-size: 17px;    
    padding: 20px;
	width: 97%;
	font-family: "Calibri" , Arial, Helvetica, sans-serif;
	padding-left:20px;
	padding-right:30px;
    
}

#contenedor{
width: 1500px;
margin: auto;
}

#lateral{
width: 150px;  /*Este será el ancho que tendrá tu columna*/
background-color: #CCCCCC;  /*Aquí pon el color del fondo que quieras para este lateral*/
float:left; /*Aqui determinas de lado quieres quede esta "columna" */
}

#principal{
margin-left:300px; /*Este margen hace que no se encime el contenido en tu menúlateral, es     importante que pongas un pocos pixeles más que el ancho  de tu columna lateral*/
background-color: #FFFFFF;
font-size: 25px;   
border:#000000 1px solid; /*ponemos un dorde para que se vea bonito*/
}

